@import '../../commonStyles/mixins/index.scss';
@import '../../commonStyles/variables/index.scss';
@import '../../commonStyles/fonts.scss';

.titleBlock {
    min-height: 52px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    padding: 0 12px;
  }
  
  .title {
    @include font-source-sans(24px, $white, 700, 28px);
  }