@import '../../commonStyles/mixins/index.scss';
@import '../../commonStyles/variables/index.scss';
@import '../../commonStyles/fonts.scss';

.wrapper {
  z-index: 200;
  width: 50%;
  align-self: flex-start;
  padding-top: 60px;
}

.cross {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 20px;
  background-color: transparent !important;
  border: none;
  opacity: 0.5;

  & img {
    width: 15px;
    height: 15px;
  }
}

.title {
  margin-bottom: 40px;
  @include font-source-sans(40px, $white, 700, 44px);
}

.input {
  width: 100%;
  height: 40px;
  padding-right: 12px;
  @include font-source-sans(15px, $bgcDarkBlue, 500, 20px);
  background-color: #d9d7e0;
  padding: 18px 0 2px 12px;
  border: none;
  outline: none;
  border-radius: 8px;

  &:focus~.label_focus {
    @include font-source-sans(13px, $textColorGrey, 500, 20px);
    transform: translate3d(-11px, -8px, 0) scale(0.86) perspective(1px)
  }

  &_wrp {
    position: relative;
  }
}

.label {
  position: absolute;
  @include font-source-sans(15px, $textColorGrey, 500, 20px);
  @include transition(0s, $duration, ease-out, $properties: all);
  left: 12px;
  top: 10px;

  &_active {
    @include font-source-sans(13px, $textColorGrey, 500, 20px);
    transform: translate3d(0, -8px, 0) scale(0.86) perspective(1px)
  }
}

.logo {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;

  &_cross {
    width: 14px;
    height: 14px;

    &:hover {
      opacity: 0.5;
    }
  }

  &_search {
    width: 20px;
    height: 20px;
  }
}

.findBlock {
  display: flex;
  flex-wrap: wrap;
  padding: 24px 12px 8px 12px;
}

.findItem {
  flex-basis: 50%;
  padding-right: 16px;
  margin-bottom: 8px;
}

.link {
  display: flex;
  text-decoration: none;
  padding-top: 8px;
}

.iconBlock {
  width: 20px;
  height: 20px;

  &_img {
    width: 100%;
    height: 100%;
  }
}

.textBlock {
  margin-left: 12px;

  &_title {
    @include font-source-sans(15px, $textColorGrey, 500, 20px);
    @include transition(0s, $duration-small, ease-out, $properties: color);

    &:hover {
      color: $red;
    }

    &_choosen {
      color: $red;
    }
  }

  &_role {
    @include font-source-sans(13px, $textColorGrey, 400, 16px);
    margin-top: 4px;
  }
}