@import '../../commonStyles/mixins/index.scss';
@import '../../commonStyles/variables/index.scss';
@import '../../commonStyles/fonts.scss';

.content {}

.title {
    @include font-source-sans(20px, $white, 700, 24px);
    margin-bottom: 16px;
    padding: 0 12px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
    list-style-type: none;
}

.item {
    width: calc(100%/4);
    padding-left: 12px;
    padding-right: 12px;

    @media (max-width: $tablets) {
        width: calc(100%/3);
      }
}

.person {
    @include font-source-sans(15px, $textColorLight, 500, 20px);
}

.showMore {
    width: 100%;
    height: 40px;
    padding: 9px 15px;
    margin-bottom: 40px;
}