@import '../../../commonStyles/mixins/index.scss';
@import '../../../commonStyles/variables/index.scss';
@import '../../../commonStyles/fonts.scss';

.player {
    width: 62.5%;
    padding-right: 32px;
    position: sticky;
    top: 32px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    // padding-right: 32px;
}

.playerBlock {
    padding: 0 12px;
}

.video {
    height: 405px;
    background-color: grey;
}

.adding {
    display: flex;
    margin-top: 24px;
    padding: 0 12px;

    &_btn {
        margin-right: 16px;
        margin-bottom: 16px;

        &:last-child {
            margin-left: auto;
            margin-right: 0;
        }

        &:hover .logo {
            opacity: 1;
        }
    }
}

.logo {
    width: 16px;
    height: 16px;
    opacity: 0.7;

    &_withText {
        margin-right: 6px;
    }
}