@import '../../commonStyles/mixins/index.scss';
@import '../../commonStyles/variables/index.scss';
@import '../../commonStyles/fonts.scss';

.container {
  background: $bgcMain;
  color: $white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: $desctop;
  margin: 50px auto;
}

.title {
    @include font-source-sans(24px, $white, 700, 28px);
    margin: 0 0 24px 100px;
    text-decoration: none;
    display: block;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70vh;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  color: $white;
  font-size: 28px;
  color: lightcoral;

}

.link {
  color: white;
}