@import '../../../commonStyles/mixins/index.scss';
@import '../../../commonStyles/variables/index.scss';
@import '../../../commonStyles/fonts.scss';

.dropdown {

  &_content {
    margin-left: -12px;
    margin-right: -12px;
    flex-basis: 75%;
    display: flex;
    justify-content: space-between;

    &_width {
      flex-basis: 45%;
      margin-left: 10px;
    }

    &_regular {
      position: relative;
      flex-basis: 25%;
    }

    &_line {
      height: 90%;
      width: 1px;
      left: -20px;
      top: 12px;
      background-color: $white;
      position: absolute;
      opacity: 0.5;
    }
  }
}

.notification {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 212px;
  justify-content: center;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.block {

  &_title {
    color: $white;
    margin-bottom: 8px;
  }

  &_items {
    display: flex;
    flex-direction: column;
    max-height: 320px;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 20px;
  }
}

.item {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 2px;
    width: 2px;
    background-color: $white;
    height: 18px;
    @include transition(0s, $duration-small, ease-out, $properties: all);
    opacity: 0;
  }

  &_active {

    & .link {
      opacity: 1;
    }

    &::before {
      opacity: 1;
    }
  }
}

.adding {
  &_subscribe {
    height: 250px;
    width: 210px;
    background-color: $buttonColorBlue;
    border-radius: 8px;
    margin-bottom: 30px;
  }

  &_btn {
    border-color: $buttonColorBlue;
    background-color: $buttonColorBlue;

    &:hover {
      border-color: $buttonColorBlueBright;
      background-color: $buttonColorBlueBright;
    }

    &_logo {
      width: 15px;
      height: 15px;
      margin-right: 5px;
    }
  }
}

.link {
  color: $white;
}