@import '../../commonStyles/mixins/index.scss';
@import '../../commonStyles/variables/index.scss';
@import '../../commonStyles/fonts.scss';

.card {
  width: 100%;
  height: 100%;
}

.imageSection {
  position: relative;
  max-height: 500px;
  border-radius: 8px 8px 8px 8px;
  transform: scale(1) translateY(0);
  @include transition(0s, $duration, ease-out, $properties: all);
  padding: 15px;

  &_active {
    transform: scale(1.04) translateY(-5px);

    & .imageSection_image {
      filter: brightness(0.3);
      @include transition(0s, $duration, ease-out, $properties: all);
    }

    & .imageSection_information {
      @include transition(0s, $duration, ease-out, $properties: all);
      opacity: 1;
    }
  }

  &_image {
    width: 100%;
    border-radius: 8px 8px 8px 8px;
    transition: all .4s;
  }

  &_information {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    margin: 15px;
    @include transition(0s, $duration, ease-out, $properties: all);

    &_show {
      opacity: 1;
    }

    &_buttons {
      position: absolute;
      right: 8px;
      top: 8px;
    }

    &_content {
      position: absolute;
      left: 16px;
      right: 16px;
      bottom: 16px;
      @include font-source-sans(13px, $textColorLight, 400, 16px);

      &_value {
        display: flex;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        align-items: center;
        margin-top: 4px;

        &_integer {
          @include font-source-sans(24px, $textColorLight, 700, 28px);
        }

        &_defraction {
          @include font-source-sans(20px, $textColorLight, 700, 24px);
        }
      }

      &_rate {
        width: 100%;
        max-width: 104px;
        margin-top: 4px;


        &_name {
          @include font-source-sans(13px, $textColorGrey, 400, 16px);
          margin-bottom: 4px;
          text-transform: lowercase;
        }

        &_range {
          background-color: $grey;
          height: 4px;
          border-radius: 2px;

          &_progress {
            width: 66%;
            background-color: $red;
            height: 4px;
            border-radius: 2px;
          }
        }
      }

      &_duration {
        display: flex;
        align-items: center;
        gap: 8px;
        @include font-source-sans(11px, $textColorLight, 400, 16px);
        margin-top: 4px;
      }

      &_properties {
        @include font-source-sans(11px, $textColorLight, 400, 16px);
        margin-top: 4px;
      }
    }
  }
}

.textSection {
  vertical-align: middle;
  margin-top: 8px;

  &_title {
    @include font-source-sans(15px, $textColorLight, 500, 20px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &_extra {
    @include font-source-sans(13px, $textColorGrey, 400, 16px);
  }
}