.btn {
  display: flex;
  align-items: center;
  background-color: #312b45;
  border: #312b45 1px solid;
  border-radius: 8px;
  text-decoration: none;
  height: 40px;
  color: #ffffff;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  font-style: normal;
  padding: 9px 15px;

  &:hover {
    background-color: #2e2844;
    border-color: #2e2844;
  }
}