@import '../../../commonStyles/mixins/index.scss';
@import '../../../commonStyles/variables/index.scss';
@import '../../../commonStyles/fonts.scss';

.info {
  width: 37.5%;
  display: inline-block;
}

.titleBlock {
  margin: 8px 0 20px 0;
  padding: 0 12px;

  &_title {
    @include font-source-sans(42px, $white, 700, 44px);
    text-align: center;
  }
}

.block {
  padding: 0 12px;
  margin-bottom: 24px;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $green;
  border-radius: 8px;

  &_mean {
      @include font-source-sans(15px, $white, 500, 20px);
  }
}