@import '../../../commonStyles/mixins/index.scss';
@import '../../../commonStyles/variables/index.scss';
@import '../../../commonStyles/fonts.scss';

.block {

  &_list {
    display: flex;
    flex-direction: column;
    max-height: 320px;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
  }
}

.link {
  color: $white;
}