@import '../../../commonStyles/mixins/index.scss';
@import '../../../commonStyles/variables/index.scss';
@import '../../../commonStyles/fonts.scss';

.container {
  color: $white;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 12px;
}

.title {
  @include font-source-sans(40px, $white, 700, 44px);
}