@import '../../commonStyles/mixins/index.scss';
@import '../../commonStyles/variables/index.scss';
@import '../../commonStyles/fonts.scss';

.aside {
    width: 12.5%;
    margin-left: 12.5%;
    padding-left: 12px;
    padding-right: 12px;

    @media (max-width: $laptop) {
        display: none;
      }
}

.imageBlock {
    position: relative;
    transform: scale(1) translateY(0);
    @include transition(0s, $duration, ease-out, $properties: all);

    &:hover {
        transform: scale(1.04) translateY(-5px);
    }

    &_img {
        max-width: 100%;
        border-radius: 8px;
    }

}

.textBlock {
    padding-top: 14px;
}

.duration {
    &_logo {
        width: 16px;
        height: 16px;
    }
}