@import '../../commonStyles/mixins/index.scss';
@import '../../commonStyles/variables/index.scss';
@import '../../commonStyles/fonts.scss';

.container {
  position: relative;
  max-width: 100vw;
  margin: 0 auto;

  &_darkBackground {
    &:after {
      content: '';
      left: 0;
      width: calc((100% - 120px) * 0.1 / 1.2 - 40px);
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      border-radius: 0 20px 20px 0;
      z-index: 2;
    }

    &:before {
      content: '';
      right: 0;
      width: calc((100% - 120px) * 0.1 / 1.2 - 40px);
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 20px 0 0 20px;
      position: absolute;
      z-index: 2;
    }
  }
}

.slide {
  --image: url('');
  padding: 60px;
  gap: 35px;
  flex-direction: column;
  box-sizing: border-box;
  max-height: 60vh;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: flex-start;
  border-radius: 20px;
  background: var(--image) no-repeat center/cover;

  &:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    padding-top: 5%;
  }
}

.button {
  padding: 12px 30px;
}

.description {
  @include font-source-sans(12px, #2e6bc7, 500, 18px);
  max-width: 60%;
}

.moviesName {
  max-width: 50%;
  @include font-source-sans(32px, #2e6bc7, 800, 48px);
}

.rightButton {
  right: calc((100% - 120px) * 0.1 / 1.2 - 45px);
}

.leftButton {
  left: calc((100% - 120px) * 0.1 / 1.2 - 10px);
}

@include laptop {
  .container {
    &:after {
      width: calc((100% - 120px) * 0.1 / 1.2 - 30px);
    }

    &:before {
      width: calc((100% - 120px) * 0.1 / 1.2 - 30px);
    }
  }

  .rightButton {
    right: calc((100% - 120px) * 0.1 / 1.2 - 30px);
  }
}

@include tablets {
  .container {
    &:after {
      width: calc((100% - 120px) * 0.1 / 1.2 - 20px);
    }

    &:before {
      width: calc((100% - 120px) * 0.1 / 1.2 - 20px);
    }
  }

  .rightButton {
    right: calc((100% - 120px) * 0.1 / 1.2 - 10px);
  }

  .leftButton {
    left: calc((100% - 120px) * 0.1 / 1.2 - 5px);
  }

  .slide::before {
    padding-top: 152%;
  }
}

@include phones {
  .container {
    &:after {
      width: calc((100% - 120px) * 0.1 / 1.2 - 10px);
    }

    &:before {
      width: calc((100% - 120px) * 0.1 / 1.2 - 10px);
    }
  }

  .leftButton {
    left: calc((100% - 120px) * 0.1 / 1.2);
  }
}
