$buttonColorLight: #C7C3C3;
$buttonColorBlue: #312b45;
$buttonColorBlueHover: #2e2844;
$buttonGrey: #ffffff14;
$buttonGreyHover: #ffffff29;
$white: #FFFFFF;
$black: #000000;
$bgcMain: #100e19;
$bgcDarkBlue: #1f1b2e;
$bgcDarkBlueHover: #231f34;
$textColorLight: #d9d7e0;
$textColorGrey: #a5a1b2;
$lightGrey : #7e798f;
$grey: #7e798f50;
$red: #ea003d;
$pink: #c447ff;
$purpleLight: #A869F0;
$purpleDark: #834CC2;
$green: #73a32f;
$modalColor: #110f18;

// box-shadow: 0 20px 96px #12101b;
// box-shadow: 0 4px 16px hsla(0, 0%, 100%, .24);