$buttonColorLight: #C7C3C3;
$buttonColorBlue: #312b45;
$buttonColorBlueHover: #2e2844;
$white: #FFFFFF;
$black: #000000;
$bgcMain: #100e19;
$bgcDarkBlue: #1f1b2e;
$textColorLight: #d9d7e0;
$textColorGrey: #a5a1b2;
$grey: #7e798f52;
$red: #ea003d;




// box-shadow: 0 20px 96px #12101b;
// box-shadow: 0 4px 16px hsla(0, 0%, 100%, .24);