@import './../../../commonStyles/fonts.scss';

.btn {
  text-align: center;
  background-color: #ea003d;
  border: #ea003d 1px solid;
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  font-family: $font-inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: #fff;

  &:hover {
    background-color: #ff0f4d;
    border-color: #ff0f4d;
  }

}