@import '../../../commonStyles/mixins/index.scss';
@import '../../../commonStyles/variables/index.scss';
@import '../../../commonStyles/fonts.scss';

.list {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 14px;
}

.item {
    position: relative;

    &::before {
        content: '/';
        position: absolute;
        left: -9px;
        color: #fff;
    }

    &:first-child {
        &::before {
            content: '';
        }
    }

    &_extra {
        @include font-source-sans(13px, $textColorGrey, 500, 16px);
        &::before {
            color: $textColorGrey;
        }

    }
}