.dropdown {
  left: -8px;
  position: absolute;
  right: -8px;
  top: 4px;
  transition-delay: 0s;
  transition-duration: 1s;
  transition-property: visibility, opacity;
  transition-timing-function: ease-out;

  &_body {
    margin-top: 68px;
    padding: 32px;
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &_content {
    margin-left: -12px;
    margin-right: -12px;
    flex-basis: 75%;
    display: flex;
    justify-content: space-between;

    &_width {
      flex-basis: 45%;
      margin-left: 10px;
    }

    &_regular {
      position: relative;
      flex-basis: 25%;
    }

    &_line {
      height: 90%;
      width: 1px;
      left: -20px;
      top: 12px;
      background-color: #ffffff;
      position: absolute;
      opacity: 0.5;
    }
  }
}

.notification {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 212px;
  justify-content: center;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.block {

  &_title {
    color: #ffffff;
    margin-bottom: 8px;
  }

  &_items {
    display: flex;
    flex-direction: column;
    max-height: 320px;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 20px;
  }
}

.item {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 2px;
    width: 2px;
    background-color: #ffffff;
    height: 18px;
    transition: all 0.3s;
    opacity: 0;
  }

  &_active {

    & .link {
      opacity: 1;
    }

    &::before {
      opacity: 1;
    }
  }
}

.adding {

  &_subscribe {
    height: 250px;
    width: 210px;
    background-color: #312b45;
    border-radius: 8px;
    margin-bottom: 30px;
  }

  &_btn {
    &_logo {
      width: 15px;
      height: 15px;
      margin-right: 5px;
    }
  }
}

.link {
  color: #ffffff;
}