@import '../../commonStyles/mixins/index.scss';
@import '../../commonStyles/variables/index.scss';
@import '../../commonStyles/fonts.scss';

.container {
    position: relative;
    max-width: 1240px;
    // margin: 0 auto;
    margin: 30px 8% 0 8.5%;
}

.wrapper {
    width: 75%;
    @include font-source-sans(15px, $textColorGrey, 400, 22px);
}

.header {
    &_title {
    @include font-source-sans(20px, $white, 700, 24px);
    }
}

.content {
    margin-top: 12px;

    & p {
        margin-top: 8px;

        &:first-child {
            margin-top: 0;
        }
    }
}

.list {
    list-style-position: inside;
}

.link {
    cursor: pointer;
    text-decoration: none;
    @include font-source-sans(15px, $textColorGrey, 400, 22px);
}

.showMore {
    display: block;
    cursor: pointer;
    margin-top: 8px;
    @include font-source-sans(15px, $white, 500, 22px);
}