@import '../../commonStyles/mixins/index.scss';
@import '../../commonStyles/variables/index.scss';
@import '../../commonStyles/fonts.scss';

.container {
  position: relative;
}

.wrapper {
  box-sizing: border-box;
  margin: 30px 8% 0 8.5%;
}

.rightButton {
  right: -50px;
  top: 40%;
}

.leftButton {
  left: -30px;
  top: 40%;
}

@include tablets {
  .rightButton {
    right: -30px;
  }

  .leftButton {
    left: -10px;
  }
}
